
/* background section 1 */
.bg-section1 {
  background-color: #dcdcdc;
}

.nav-tabs .nav-item.show .nav-link {
  background-color: #343a40;
}
.spacer {
  height: 50px;
}
#navbar {
  background-color: transparent;
}
.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform 0.2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
/* bg section 1 */
.bgr-1 {
  margin-top: 35px;
  background-color: aqua;
}
/* bg caption section 3 */
.bgr-3{
  right: 3%;
  left: 3%;
  bottom: 2px;
  opacity: 65%;
  background-color: black;
}


/* boder-view */
.border-view{
  border: 1px solid black;
}

/* img phong  https://bbbootstrap.com/snippets/image-overlay-fade-hover-23240859*/
.imageselect .imagebox {
  position: relative;
}

.imageselect .imagebox figure {
  position: relative;
  overflow: hidden;
}

.imageselect .imagebox figcaption {
  background: rgba(45, 62, 82, 0.9);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 20px;
  -webkit-transform: translateY(140%);
  -moz-transform: translateY(140%);
  -ms-transform: translateY(140%);
  -o-transform: translateY(140%);
  transform: translateY(140%);
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.imageselect .imagebox .caption-title {
  margin-bottom: 0;
  color: #fff;
}

.imageselect .imagebox .price {
  color: #fdb714;
}

.imageselect .imagebox:hover figcaption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.price {
  color: #f0715f;
  font-size: 1.6667em;
  text-transform: uppercase;
  float: right;
  text-align: right;
  line-height: 1;
  display: block;
}

.carousel-caption hr {
  background: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}
hr {
  background: #3d3c3c;
  height: 1px;
  border: 0;
  width: 60px;
  margin: 15px auto 20px;
  clear: both;
  color: #3d3c3c;
  float: none;
}
.carousel-caption p {
  font-family: Georgia;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: center !important;
  margin: 0 10px 0 10px;
}



a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}